
# Gradle
build/
.gradle/
buildSrc/.kotlin/

# Ignore Gradle wrapper jar file
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper-*.sha256

# Maven
**/.mvn/wrapper/maven-wrapper.jar
target/

# IDE
/.idea
out/

conformance/conformance-server.pid

/.env
