# Copyright (C) 2021 The Authors of CEL-Java
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  java:
    name: Java/Gradle
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        java-version: [11, 17, 18]
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'true'

      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.java-version }}

      - name: Build with Gradle
        # Java 8 and 16+ don't run spotless, because google-java-format requires Java 11+ (but doesn't run w/ Java 16)
        uses: gradle/gradle-build-action@v2
        with:
          arguments: --rerun-tasks --info assemble check publishToMavenLocal -x jmh

      - name: Build tool integrations
        # The buildToolIntegration* tasks require publishToMavenLocal, run it as a separate step,
        # because these tasks intentionally do not depend on the publishToMavenLocal tasks.
        uses: gradle/gradle-build-action@v2
        with:
          arguments: buildToolIntegrations

      - name: Microbenchmarks
        uses: gradle/gradle-build-action@v2
        with:
          arguments: jmh

      - name: Cache Bazel stuff
        uses: actions/cache@v3
        with:
          path: |
            ~/.cache/bazel
          key: bazel-${{ hashFiles('**/.gitmodules') }}
          restore-keys: bazel-

      - name: Setup bazel
        uses: jwlawson/actions-setup-bazel@v1.7.0
        with:
          bazel-version: '3.5.1'

      - name: Conformance tests
        run: |
          conformance/run-conformance-tests.sh

      - uses: codecov/codecov-action@v2
        if: ${{ matrix.java-version == '11' }}
        with:
          files: jacoco/build/reports/jacoco/codeCoverageReport/codeCoverageReport.xml
          flags: java

      - name: Capture test results
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: test-results
          path: |
            **/build/reports/*
            **/build/test-results/*

      # Special handling to test against Java 8:
      # antlr version 4.10 requires Java 11 to run the antlr tool, but tests still need to run
      # against Java 8 - that's being done here:
      - name: Stop running Gradle Daemon (Java 8)
        if: ${{ matrix.java-version == '11' }}
        run: ./gradlew --stop
      - name: Set up Java (Java 8)
        if: ${{ matrix.java-version == '11' }}
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 8
      - name: Test with Gradle (Java 8)
        if: ${{ matrix.java-version == '11' }}
        run: |
          ./gradlew --no-daemon test -PtestRerun -Dorg.gradle.jvmargs=""
