# Copyright (C) 2021 The Authors of CEL-Java
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  java:
    name: Java/Gradle
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        java-version: [21, 24]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          submodules: 'true'

      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java-version }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5
        with:
          cache-read-only: ${{ github.event_name != 'push' || github.ref != 'refs/heads/main' }}

      - name: Spotless Check
          # Spotless must run in a different invocation, because
          # it has some weird Gradle configuration/variant issue
        if: ${{ matrix.java-version == '21' }}
        run: ./gradlew spotlessCheck --scan

      - name: Build
        run: ./gradlew --rerun-tasks assemble ${{ env.ADDITIONAL_GRADLE_OPTS }} check publishToMavenLocal -x jmh -x spotlessCheck --scan

      - name: Build tool integrations
        # The buildToolIntegration* tasks require publishToMavenLocal, run it as a separate step,
        # because these tasks intentionally do not depend on the publishToMavenLocal tasks.
        run: ./gradlew buildToolIntegrations

      - name: Microbenchmarks
        run: ./gradlew jmh

      - name: Cache Bazel stuff
        if: ${{ matrix.java-version == '21' }}
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5
        with:
          path: |
            ~/.cache/bazel
          key: bazel-${{ hashFiles('**/.gitmodules') }}
          restore-keys: bazel-

      - name: Conformance tests
        if: ${{ matrix.java-version == '21' }}
        run: conformance/run-conformance-tests.sh

      - name: Capture test results
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        if: failure()
        with:
          name: test-results
          path: |
            **/build/reports/*
            **/build/test-results/*
